@using FileStatisticsWatcher.Models.DTO.FilteringDTO;
@using FileStatisticsWatcher.Services.FilteringServices;
@model SortFieldsSettings
<div>
    <p>Sort</p>
    <form method="post" asp-action="UpdateSortingSettings" asp-controller="FilteringDirectorySettings">
        <div>
            <label>Field name:</label>
            <select asp-for="FieldName" required>
                @foreach (var item in FilteringDirectoryService.sortAvailableParams)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>
        <div>
            <label>Desc sort(A->a):</label>
            <input type="checkbox" asp-for="FieldDirection">
        </div>
        <button name="add" value="true" type="submit">Add</button>
        <button name="add" value="false" type="submit">Remove</button>
    </form>
</div>