@using FileStatisticsWatcher.Models.DTO;
@using FileStatisticsWatcher.Services;
@model DirectorySettings[]
<div style="display: flex;position:fixed">
    <p style="display:inline-block; margin-right:10px">
        Directory count -
    </p>
    <p id="directoriesCount" style="display:inline-block">
        @Model.Length
    </p>
</div>

<table>
    <thead>
        <tr class="text-center">
            <th>Name</th>
            <th>Path</th>
            <th>DirictorySize</th>
            <th>FilesSize in dir</th>
            <th>CountFiles</th>
        </tr>
    </thead>
    <tbody id="directories">
        @await Html.PartialAsync("_directoriesSettings.cshtml",Model)
    </tbody>
</table>

<script>
    var page = 0;
    var _inCallback = false;
    const filesElement = document.getElementById("directories");
    const directoriesCountElement = document.getElementById("directoriesCount");

    function directoryLoad() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            let response = fetch('http://localhost:5048/FileSettings/StatisticsForDirs?page=' + page)
                .then(response => response.text())
                .then(data => {
                    if (data != '') {
                        filesElement.innerHTML += data;
                        directoriesCountElement.innerHTML = Number(directoriesCountElement.innerHTML) + (data.match((/<td>/g) || []).length / 5);
                    }
                    else {
                        page = -1;
                    }
                    _inCallback = false;
                });
        }
    }
    function setDirectoryScrollEvent() {
        window.addEventListener('scroll', function () {
            if (window.pageYOffset == document.documentElement.scrollHeight - window.innerHeight) {
                directoryLoad();
            }
        });
    }
    setDirectoryScrollEvent();
</script>