@using FileStatisticsWatcher.Models.Entities;
@using FileStatisticsWatcher.Services;
@model FileSettings[]
<div style="display: flex;">
    <p style="display:inline-block; margin-right:10px">
        files count - 
    </p>
    <p id="filesCount" style="display:inline-block">
        @Model.Length
    </p>
</div>

<table>
    <thead>
        <tr class="text-center">
            <th>Name</th>
            <th>Path</th>
            <th>Depth</th>
            <th>Extension</th>
            <th>Size</th>
            <th>Last Access Date (UTC)</th>
            <th>Create Date (UTC)</th>
        </tr>
    </thead>
    <tbody id="files">        
        @await Html.PartialAsync("_filesSettings.cshtml",Model)
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    var page = 0;
    var _inCallback = false;
    function testLoad() {
    if (page > -1 && !_inCallback) {
        _inCallback = true;
        page++;
        $.ajax({
            type: 'GET',
            url: '/FileSettings/AllFiles',
            data: { "page": page },
            success: function (data, textstatus)
            {
                if (data != '') {
                    $("#files").append(data);
                    $("#filesCount").html(Number($("#filesCount").html())+(data.match(/<td>/g) || []).length/7);
                }
                else {
                    page = -1;
                }
                _inCallback = false;
            }
        });
    }
}
function setFileScrollEvent() {
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            testLoad();
        }
    });
}
setFileScrollEvent();
</script>